:root {
  --color-primary-color: #4F5955;
  --color-secondary-color: #D9C3A9;
  --color-default-color: #4F5955;
  --color-hover-links-color: #D9C3A9;
  --color-links-color: #535656;
  --color-header-background-color: #4F5955;
  --color-footer-background-color: #0E0E0E;
  --color-white-color: #FFFFFF;
  --color-dark: #171717;
  --color-accent: #F2EDDC;
  --color-gray-color: #F7F7f7;
}

.bg-dark {
  background-color: var(--color-dark) !important;
  color: var(--color-white);
}

.bg-primary {
  background-color: var(--color-primary-color) !important;
  color: var(--color-white);
}

.bg-default {
  background-color: var(--color-default-color) !important;
  color: var(--color-primary-color);
}

.bg-secondary {
  background-color: var(--color-secondary-color) !important;
  color: var(--color-primary-color);
}

.bg-accent {
  background-color: var(--color-accent) !important;
  color: var(--color-primary-color);
}

.bg-gray {
  background-color: var(--color-gray-color) !important;
  color: var(--color-primary-color);
}

.bg-light {
  background-color: var(--color-white-color) !important;
  color: var(--color-primary-color);
}

.bg-footer {
  background-color: var(--color-footer-background-color) !important;
  color: var(--color-white);
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  color: var(--color-primary-color);
}
.nav-link:hover, .nav-link:active {
  color: var(--color-hover-links-color);
}

.active {
  color: var(--color-hover-links-color) !important;
}

.btn-primary {
  display: inline-block;
  padding: 16px 30px;
  margin: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-accent);
  background-color: var(--color-primary-color);
  border: none;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppin", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btn-primary:hover {
  background-color: var(--color-hover-links-color);
  transition: 0.25s;
}

.btn-secondary {
  display: inline-block;
  padding: 16px 30px;
  margin: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-accent);
  background-color: var(--color-primary-color);
  border: none;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppin", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btn-secondary:hover {
  background-color: var(--color-hover-links-color);
  transition: 0.25s;
}

.btn-dark {
  display: inline-block;
  padding: 16px 30px;
  margin: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-accent);
  background-color: var(--color-primary-color);
  border: none;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppin", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btn-dark:hover {
  background-color: var(--color-hover-links-color);
  transition: 0.25s;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppin", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  padding: 10px;
  margin: 20px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

p {
  margin: 20px;
}

header section {
  padding-top: 20px;
  padding-bottom: 20px;
}
header section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  color: white;
}
header section .container .socialmedia a {
  padding: 15px;
  border-left: 1px solid #343a40;
}
header section .container .socialmedia a:hover {
  transform: scale(1.1);
}
header section .container .socialmedia a:hover i {
  transform: scale(1.9);
  transition: transform 0.3s ease;
}
header section .container .socialmedia a i {
  transition: transform 0.3s ease;
  color: white;
}
header .navbar {
  padding: 20px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}
header .navbar nav {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

footer .container {
  display: flex;
  justify-content: space-between;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppin", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.spacing-top {
  margin-top: 50px;
}

.spacing-bottom margin-bottom {
  margin-bottom: 30px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

img {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}

.umb-block-grid__layout-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--grid-columns, 1), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(50px, min-content);
  column-gap: var(--umb-block-grid--column-gap, 0);
  row-gap: var(--umb-block-grid--row-gap, 0);
}

.umb-block-grid__layout-item {
  position: relative;
  grid-column-end: span min(var(--umb-block-grid--item-column-span, 1) * 3, var(--umb-block-grid--grid-columns));
  grid-row: span var(--umb-block-grid--item-row-span, 1);
}

.umb-block-grid__area-container,
.umb-block-grid__block--view::part(area-container) {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--area-grid-columns, var(--umb-block-grid--grid-columns, 1)), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(50px, min-content);
  column-gap: var(--umb-block-grid--areas-column-gap, 0);
  row-gap: var(--umb-block-grid--areas-row-gap, 0);
}

.umb-block-grid__area {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  grid-column-end: span min(var(--umb-block-grid--area-column-span, 1) * 3, var(--umb-block-grid--area-grid-columns));
  grid-row: span var(--umb-block-grid--area-row-span, 1);
}

@media (min-width: 1024px) {
  .umb-block-grid__layout-item {
    grid-column-end: span min(var(--umb-block-grid--item-column-span, 1), var(--umb-block-grid--grid-columns));
  }
  .umb-block-grid__area {
    grid-column-end: span min(var(--umb-block-grid--area-column-span, 1), var(--umb-block-grid--area-grid-columns));
  }
}
.success-to-you {
  position: relative;
}
.success-to-you .container {
  padding-top: 200px;
}
.success-to-you .container .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-section {
  gap: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-color: var(--color-gray-color);
}
.card-section p {
  font-weight: bold;
  color: var(--color-secondary-color);
}
.card-section .container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
}
.card-section .container h1 {
  text-align: center;
  font-size: 50px;
  margin: 0 60px;
}
.card-section .container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.card-section .container .content .box {
  transition: transform 0.3s ease-in-out;
  flex: 1 1 calc(33.333% - 30px);
  max-width: calc(33.333% - 30px);
  box-sizing: border-box;
  border: 3px solid var(--color-gray-color);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}
.card-section .container .content .box:hover {
  transform: scale(1.1);
}
.card-section .container .content .box p {
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
  color: black;
}
.card-section .container .content .box img {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.trusted-section {
  position: relative;
}
.trusted-section .container {
  text-align: center;
}
.trusted-section .container .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-position: center;
}
.trusted-section .container h1 {
  margin: 0;
}
.trusted-section .container img {
  margin-top: 50px;
  padding-bottom: 0;
}

.about-us-section .container .background-image {
  background-color: var(--color-gray-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-onatrix {
  position: relative;
  background-color: var(--color-gray-color);
  padding-top: 60px;
}
.contact-onatrix .container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.contact-onatrix .container .dot-img {
  position: absolute;
  z-index: -1;
  left: 20px;
  height: 100%;
  width: 50%;
  bottom: 0;
}
.contact-onatrix .container .dot-img img {
  padding-bottom: 0;
}

.project-section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.project-section p {
  font-weight: bold;
  color: var(--color-secondary-color);
}
.project-section .container {
  padding-left: 0;
  padding-right: 0;
}
.project-section .container .content {
  display: flex;
  gap: 30px;
  padding-left: 200px;
}
.project-section .container .content .box {
  margin: 10px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  height: 300px;
  box-sizing: border-box;
  border: 3px solid var(--color-gray-color);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.project-section .container .content .box:hover {
  transform: scale(1.1);
}
.project-section .container .content .box p {
  margin-bottom: 0;
  font-weight: 100;
  color: black;
}
.project-section .container .content .box img {
  padding-left: 0;
  padding-right: 0;
  width: 400px;
}
.project-section .container .content .content-left {
  width: 70%;
}
.project-section .container .content .content-right {
  width: 30%;
}

.custom-section .image-slider {
  padding: 0 !important;
  margin: 0;
  display: flex;
}
.custom-section .image-slider .slides {
  width: 100%;
  transition: transform 0.3s ease;
}
.custom-section .image-slider .slides img {
  padding: 0;
  margin: 0;
  object-fit: cover;
}
.custom-section .image-slider .slides:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.custom-section .image-slider .slides:hover img {
  transform: scale(1.1);
  transition: transform 1s ease;
}

.success-story {
  z-index: -1;
  position: relative;
  padding-top: 60px;
  padding-bottom: 300px;
  margin-bottom: 300px;
}
.success-story .container {
  position: relative;
  z-index: 1;
  text-align: center;
  align-items: center;
}
.success-story .container h1 {
  color: var(--color-secondary-color);
  text-align: center;
  padding: 0;
  transition: transform 0.3s ease;
}
.success-story .container h1:hover {
  transform: scale(1.1);
}
.success-story .container h1:hover {
  transform: scale(1.3);
}
.success-story .container p {
  text-align: center;
  color: var(--color-white-color);
  margin: 10px;
}
.success-story .container img {
  width: 1000px;
  height: 600px;
  text-align: center;
  align-items: center;
  padding-top: 30px;
  position: absolute;
  top: 300px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.success-story .container .background-image {
  z-index: 10;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 500px;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.expert-page {
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}
.expert-page p {
  text-align: center;
  font-weight: bold;
  color: var(--color-secondary-color);
  margin-bottom: 0;
}
.expert-page h1 {
  padding-left: 50px;
  padding-right: 50px;
}
.expert-page .container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
}
.expert-page .container h1 {
  text-align: center;
  font-size: 50px;
  margin: 0 60px;
}
.expert-page .container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.expert-page .container .content .box {
  transition: transform 0.3s ease-in-out;
  flex: 1 1 calc(33.333% - 30px);
  max-width: calc(33.333% - 30px);
  box-sizing: border-box;
  border: 1px solid var(--color-gray-color);
}
.expert-page .container .content .box h4 {
  padding-bottom: 0;
  margin-bottom: 0;
}
.expert-page .container .content .box:hover {
  transform: scale(1.1);
}
.expert-page .container .content .box p {
  padding-left: 10px;
  margin-bottom: 0;
  font-weight: bold;
  margin-top: 0;
}
.expert-page .container .content .box img {
  padding-top: 0;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.custom-section {
  position: relative;
  margin-bottom: 100px;
}
.custom-section .custom-section-content .background-image {
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.custom-section .custom-section-content .container {
  text-align: center;
}
.custom-section .custom-section-content .container .contact-form {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -600px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin-left: 0px;
  margin-right: 0px;
  background-color: white;
  padding: 30px;
}
.custom-section .custom-section-content .container .contact-form .head-line {
  text-align: center;
}
.custom-section .custom-section-content .container .contact-form .head-line p {
  color: var(--color-secondary-color);
  font-weight: bold;
}
.custom-section .custom-section-content .container .contact-form .head-line h1 {
  margin-left: 300px;
  margin-right: 300px;
}
.years {
  position: relative;
}
.years .container h4 {
  color: var(--color-accent);
}
.years .container img {
  width: 200px;
}
.years .container .call-back-form {
  position: absolute;
  bottom: -400px;
  right: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 600px;
  background-color: white;
}
.years .container .call-back-form .head-line {
  height: 100px;
  background-color: var(--color-primary-color);
  align-content: center;
  color: var(--color-accent-color);
}
.years .container .call-back-form .head-line p {
  padding: 10px;
  margin-top: 0;
  color: var(--color-secondary-color);
  font-weight: bold;
}
.years .container .call-back-form .head-line h1 {
  margin-left: 300px;
  margin-right: 300px;
}
.years .container .call-back-form .form {
  padding: 10px;
}
.years .container .call-back-form .form button {
  width: 100%;
  flex-grow: 1;
  padding: 10px;
}

.project-details {
  padding-top: 20px;
  padding-bottom: 20px;
}
.project-details p {
  font-weight: bold;
  color: var(--color-secondary-color);
}
.project-details .container {
  padding-left: 0;
  padding-right: 0;
}
.project-details .container .content {
  display: flex;
  gap: 30px;
  padding-left: 200px;
}
.project-details .container .content .box {
  margin: 10px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  height: 300px;
  box-sizing: border-box;
  border: 3px solid var(--color-gray-color);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.project-details .container .content .box:hover {
  transform: scale(1.1);
}
.project-details .container .content .box p {
  margin-bottom: 0;
  font-weight: 100;
  color: black;
}
.project-details .container .content .box img {
  padding-left: 0;
  padding-right: 0;
  width: 400px;
}
.project-details .container .content .content-left {
  width: 70%;
}
.project-details .container .content .content-left p {
  font-weight: 100;
  color: black;
}
.project-details .container .content .content-right {
  width: 30%;
}

.service-details {
  padding-top: 20px;
  padding-bottom: 20px;
}
.service-details p {
  font-weight: bold;
  color: var(--color-secondary-color);
}
.service-details .container {
  padding-left: 0;
  padding-right: 0;
}
.service-details .container .content {
  display: flex;
  gap: 30px;
  padding-left: 200px;
}
.service-details .container .content p {
  font-weight: 100;
  color: black;
}
.service-details .container .content .content-left {
  width: 30%;
}
.service-details .container .content .content-left p {
  color: var(--color-secondary-color);
  font-weight: bold;
}
.service-details .container .content .content-right {
  width: 70%;
}

.question {
  width: 100%;
  background-color: white;
}
.question .head-line {
  height: 100px;
}
.question .head-line p {
  padding: 10px;
  margin-top: 0;
  color: var(--color-secondary-color);
  font-weight: bold;
}
.question .form {
  padding: 10px;
}
.question .form .form-first {
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 100%;
}
.question .form .form-first .flex-content {
  flex: 1;
  width: 100%;
}
.question .form .form-first .flex-content input {
  width: 100%;
  padding: 10px;
}
.question .form .form-input-group textarea {
  width: 100%;
  padding: 10px;
}
.question .form button {
  width: 100%;
  padding: 10px;
  background-color: var(--color-primary-color);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Reviews {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.Reviews .container p {
  margin-top: 30px;
  margin: 10px;
  color: var(--color-secondary-color);
  font-weight: bold;
}
.Reviews .container h1 {
  margin: 0;
  padding: 0;
}
.Reviews .container img {
  width: 1700px;
  height: 525px;
  position: absolute;
  background-repeat: no-repeat;
  right: -1000px;
  top: -70px;
  background-position: center;
  background-size: cover;
}
.Reviews .container .content p {
  color: black;
  font-weight: 100;
}

.container .image-slider {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
}
.container .image-slider .slides:hover {
  transform: scale(1.1);
}
.container .image-slider .slides:hover img {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}
.container .image-slider .slides img {
  transition: transform 0.3s ease;
  color: white;
}

.form-input-error {
  display: none;
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.form-invalid-input {
  display: block;
}

.form-input {
  border: 1px solid #e0e0e0;
  padding: 10px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}
.form-input:invalid, .form-input.form-invalid-input {
  border-color: red;
  background-color: #ffe6e6;
}
.form-input::placeholder {
  color: #b0b0b0;
  opacity: 1;
  font-style: italic;
}

.form-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1em;
}
.form-button:hover {
  background-color: #45a049;
}

.form-input-group {
  padding: 10px;
}

.page-title {
  background-color: var(--color-gray-color) !important;
}
.page-title .container {
  padding-top: 30px;
  text-align: center;
}
.page-title .container .breadcrumb {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.page-title .container .breadcrumb a {
  color: var(--color-secondary-color);
  padding-right: 30px;
}
.page-title .container .breadcrumb li {
  padding: 10px;
  font-weight: bold;
}
.page-title .container .breadcrumb li a {
  color: black;
  font-weight: 100;
}

.help-you {
  background-color: var(--color-primary-color);
  padding: 5px;
}
.help-you h4 {
  color: var(--color-secondary-color);
  padding: 0;
}
.help-you p {
  padding: 10px;
  font-size: 16px;
  padding: 0;
  color: var(--color-white-color);
}
.help-you input {
  margin: 16px;
  padding: 10px;
  width: 90%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary-color);
}
