<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1190bd2-f2af-4d10-97bc-d87a7a6e8575" Alias="dot-map 1.png" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/dotMap1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T09:49:30</CreateDate>
    <NodeName Default="dot-map 1.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lxaf4v4g/dot-map-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>