<?xml version="1.0" encoding="utf-8"?>
<Media Key="f11510f8-fb6c-401f-9a65-8250cac83d04" Alias="image-47 1.svg" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/image471svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T14:36:46</CreateDate>
    <NodeName Default="image-47 1.svg" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bkwloe1x/image-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>