<?xml version="1.0" encoding="utf-8"?>
<Media Key="12552cca-c0f8-403d-a5db-0d76244d3d15" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-06T13:29:20</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>