<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b612478-ba24-45a7-beee-2e7ab0dcb3d3" Alias="Img-1-4 1.png" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/Img141png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T11:59:12</CreateDate>
    <NodeName Default="Img-1-4 1.png" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/45xcphkn/img-1-4-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>