<?xml version="1.0" encoding="utf-8"?>
<Media Key="91b41e9c-5732-48a1-a444-ee9a904e4aba" Alias="Img.png" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/Imgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T10:14:31</CreateDate>
    <NodeName Default="Img.png" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cpkpej01/img.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>