<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bd022a8-cdc5-4745-98a0-d9ba7be36d7a" Alias="Img.svg" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/Imgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T10:14:17</CreateDate>
    <NodeName Default="Img.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lkphf4o4/img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>