<?xml version="1.0" encoding="utf-8"?>
<Media Key="e31b2c23-a805-456d-91b7-6425572135e8" Alias="img_choose_01_home01 1.png" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/img_choose_01_home011png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T10:38:56</CreateDate>
    <NodeName Default="img_choose_01_home01 1.png" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vttf0vlm/img_choose_01_home01-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>