<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1ad88bf-4652-4736-b7f4-bddbd0d38fc2" Alias="Mask-Group-8 1.png" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/MaskGroup81png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:20:57</CreateDate>
    <NodeName Default="Mask-Group-8 1.png" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gbbowvz1/mask-group-8-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>