<?xml version="1.0" encoding="utf-8"?>
<Media Key="3def3c99-110d-4c5f-b533-8f58bd038132" Alias="pj3.png" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/pj3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T11:58:19</CreateDate>
    <NodeName Default="pj3.png" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/c11ktc1e/pj3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>