<?xml version="1.0" encoding="utf-8"?>
<Media Key="69bd77d9-ed5e-4ea2-9454-c6440304e6c2" Alias="Title.png" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/Titlepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T10:14:06</CreateDate>
    <NodeName Default="Title.png" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/k04pxxzx/title.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>