<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c0cb55e-f977-472d-958d-da201a393d8e" Alias="Our Experts - experts " Level="1">
  <Info>
    <Name>Our Experts - experts </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0ebd8750-374f-45ea-ad17-ef6ee2c7cdd6",
      "label": "**Experts** - {=expertName}"
    }
  ]
}]]></Config>
</DataType>