<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46789a66-80e2-41b8-8e9d-e2abc8501060" Alias="Section  - Center Content On page - Toggle Property Editor UI" Level="1">
  <Info>
    <Name>Section  - Center Content On page - Toggle Property Editor UI</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>