<?xml version="1.0" encoding="utf-8"?>
<Content Key="08d30497-f206-4fa3-b925-51efef72ed3f" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-18T12:30:48</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d55732a7-93fd-49e7-8165-502c1c0688e5",
      "udi": "umb://element/1463699ce1bf49be9fb2e22ae5d3cf01",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "http://facebook.com"
    },
    {
      "contentTypeKey": "d55732a7-93fd-49e7-8165-502c1c0688e5",
      "udi": "umb://element/efe58aa23a634253aecca3aa5ceb71dc",
      "platformName": "[\u0022Instagram\u0022]",
      "platformAccountUrl": "http://instagram.com"
    },
    {
      "contentTypeKey": "d55732a7-93fd-49e7-8165-502c1c0688e5",
      "udi": "umb://element/fbf3eb0c1d484348afb0c14aa42c0cd2",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "http://linkedin.com"
    },
    {
      "contentTypeKey": "d55732a7-93fd-49e7-8165-502c1c0688e5",
      "udi": "umb://element/dfb30466bbdd40f5aa2ba2eee9c7eca5",
      "platformName": "[\u0022TikTok\u0022]",
      "platformAccountUrl": "http://tiktok.com"
    },
    {
      "contentTypeKey": "d55732a7-93fd-49e7-8165-502c1c0688e5",
      "udi": "umb://element/284155b8099549bdbd6e176c1ddb3133",
      "platformName": "[\u0022X\u0022]",
      "platformAccountUrl": "http://twitter.com"
    },
    {
      "contentTypeKey": "d55732a7-93fd-49e7-8165-502c1c0688e5",
      "udi": "umb://element/9706b2fbd83d4dcfb2a8514124151b27",
      "platformName": "[\u0022YouTube\u0022]",
      "platformAccountUrl": "http://youtube.com"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1463699ce1bf49be9fb2e22ae5d3cf01",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/efe58aa23a634253aecca3aa5ceb71dc",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/fbf3eb0c1d484348afb0c14aa42c0cd2",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/dfb30466bbdd40f5aa2ba2eee9c7eca5",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/284155b8099549bdbd6e176c1ddb3133",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/9706b2fbd83d4dcfb2a8514124151b27",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>