@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Name ?? null;

	
}

@if (!string.IsNullOrEmpty(ViewBag.Title))
{
	@await Html.PartialAsync("partials/breadcrumb.cshtml")
}



<section id="project-details" class="project-details">
	<div class="container">
		
		<div class="content">
			

			<div class="content-left">
				
				@Model.Value("moreDetailsInfo")
				
			
			</div>
			
			<div class="content-right">
				
				@await Html.PartialAsync("blockgrid/components/helpYou")
					
			</div> 
		</div>
		
		
	</div>
</section>


