@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    
        
}
<div class="help-you">
    <h4>How can we help you</h4>
    <p>Online Support 24/7, we are here to help you</p>
    <input placeholder="Email Adress">
</div>





