@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	

	
}

<div class="container">
	
	<div class="question">
		<div class="head-line">
			<h4>Have a Question</h4>
		</div>
		<div class="form">
			
			<div class="form-first" class="form-input-group">
				<div class="flex-content">

					<input id="name" name="name" type="text" placeholder="Name" class="form-input">

				</div>

				<div class="flex-content">

					<input id="email" name="email" type="email" placeholder="Email adress" class="form-input">

				</div>
			</div>
			

			<div class="form-input-group">
				
				<textarea id="phone" name="question" placeholder="Question" class="form-input"></textarea>
				
			</div>
	
			<button type="submit" class="btn-primary">Submit</button>
				

				
				
				
			
		</div>
		
	</div>
</div>