<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e166301-e230-4e3c-b02c-7a84a0377ae7" Alias="Projects" Level="2">
  <Info>
    <Parent Key="884b0a23-1a8f-412f-98e6-3e5198824226">Home </Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectListPage</ContentType>
    <CreateDate>2024-09-17T11:51:12</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0faabdab-9caf-4710-ac8c-cd7f55d0214d">projectListPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>