<?xml version="1.0" encoding="utf-8"?>
<Content Key="364316fc-baf3-45ac-87d7-70ada2f838f4" Alias="Services" Level="2">
  <Info>
    <Parent Key="884b0a23-1a8f-412f-98e6-3e5198824226">Home </Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-16T15:01:22</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="39c8d87a-0d48-4b98-b4f7-251208290b03">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions  To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>