<?xml version="1.0" encoding="utf-8"?>
<Media Key="70146a5a-bd33-40c2-b19e-bd55a4732802" Alias="01 (1).png" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T10:45:55</CreateDate>
    <NodeName Default="01 (1).png" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0wqffrs0/01-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>