<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0b0bad4-573b-4f82-9a28-03c6b72843a9" Alias="02.jpg" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T14:38:21</CreateDate>
    <NodeName Default="02.jpg" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lnypmzss/02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>