<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8770607-d580-456d-a567-920c3ac824de" Alias="02.svg" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T13:25:24</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4w3nkgu1/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>