<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ee03cb3-bba4-460b-9997-d5505911b164" Alias="05.svg" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T13:25:24</CreateDate>
    <NodeName Default="05.svg" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/igafftf5/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>