<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f25cece-d932-4181-b602-763bda11c444" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T13:25:24</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hrzjppjj/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>