<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff931b64-6a28-4bc7-8a12-de1fc387c54e" Alias="image-104 1.png" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/image1041png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:20:57</CreateDate>
    <NodeName Default="image-104 1.png" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3pinkskb/image-104-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>