<?xml version="1.0" encoding="utf-8"?>
<Media Key="346999c0-99a3-4b0d-bf6d-e4b7e5ea612e" Alias="Img-5-e1695109900349 1.png" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/Img5E16951099003491png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T10:38:53</CreateDate>
    <NodeName Default="Img-5-e1695109900349 1.png" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/j3jd5awk/img-5-e1695109900349-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>