<?xml version="1.0" encoding="utf-8"?>
<Media Key="464b0643-f2bc-4d21-8e4e-f941f64511fc" Alias="Kevin-Gardner 1.png" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/KevinGardner1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:20:57</CreateDate>
    <NodeName Default="Kevin-Gardner 1.png" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ztga12gv/kevin-gardner-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>