<?xml version="1.0" encoding="utf-8"?>
<Media Key="e897fd31-46dc-425b-90ad-5485eb5f0521" Alias="map 1.png" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/map1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T09:33:48</CreateDate>
    <NodeName Default="map 1.png" />
    <SortOrder>57</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xy1ncxvv/map-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>