<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8d8051c-d7fe-47d4-b872-5f07fa579965" Alias="OnlineSignatures.net-302 1 (2).svg" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/OnlineSignaturesnet30212Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T10:59:04</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1 (2).svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/302hucxf/onlinesignaturesnet-302-1-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>