<?xml version="1.0" encoding="utf-8"?>
<Media Key="616d0824-2d27-4cba-bb04-f30260283ce4" Alias="sl-home2.png" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/slHome2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T13:30:02</CreateDate>
    <NodeName Default="sl-home2.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vpbcxv0o/sl-home2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>