<?xml version="1.0" encoding="utf-8"?>
<Media Key="98e5ca32-afac-4743-a14c-15cfed748aec" Alias="03.svg" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T13:25:24</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yb1fo4vx/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>