<?xml version="1.0" encoding="utf-8"?>
<Media Key="e38131b9-e0b4-42e8-9a71-200fb670fe7e" Alias="05.png" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T14:38:48</CreateDate>
    <NodeName Default="05.png" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/g13novo3/05.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>