<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1ab065d-75e1-4bc1-93e7-f6c3cf125074" Alias="dot-map 1.jpg" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/dotMap1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T09:50:38</CreateDate>
    <NodeName Default="dot-map 1.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0lgo0z2i/dot-map-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>