<?xml version="1.0" encoding="utf-8"?>
<Media Key="e828b69d-3c16-4168-b482-f3f93e5fb972" Alias="dot-map 1.svg" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/dotMap1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:49:41</CreateDate>
    <NodeName Default="dot-map 1.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n2fjucqn/dot-map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>