<?xml version="1.0" encoding="utf-8"?>
<Media Key="9387a60f-2f7b-43f4-86ea-5714ffad4e52" Alias="Img-4-2 1.png" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/Img421png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:20:57</CreateDate>
    <NodeName Default="Img-4-2 1.png" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qbwmcjis/img-4-2-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>