<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ab4a9d8-a86a-4220-a0d5-a5c19f9ab231" Alias="pj2.png" Level="2">
  <Info>
    <Parent Key="12552cca-c0f8-403d-a5db-0d76244d3d15">Images</Parent>
    <Path>/Images/pj2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T11:58:19</CreateDate>
    <NodeName Default="pj2.png" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/k3rpflad/pj2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>