<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d132afd-1e3a-4a00-9867-8b36eaa48583" Alias="Image Slider Compontent - Slides " Level="1">
  <Info>
    <Name>Image Slider Compontent - Slides </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "96740e68-c4aa-4d64-afff-7185245c9cd0",
      "label": "Slide item - {=ImageDescription]"
    }
  ]
}]]></Config>
</DataType>