<?xml version="1.0" encoding="utf-8"?>
<DataType Key="856d324e-a054-40fe-90da-ea55f2872b2a" Alias="Modular Page - Layout " Level="1">
  <Info>
    <Name>Modular Page - Layout </Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "2197c41b-cda8-4868-988b-9af8abf216ec",
      "name": "Containers"
    },
    {
      "key": "20edc159-591e-404e-8a9d-8ad586f8a0b9",
      "name": "Content"
    },
    {
      "key": "fb6b6d9e-c590-472e-a712-0f9b98633f0c",
      "name": "Components"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "36a15be6-30c2-4f74-bcf6-e08ebc51866b",
      "allowAtRoot": false,
      "groupKey": "20edc159-591e-404e-8a9d-8ad586f8a0b9",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "332598fa-eb21-4906-a387-034183147300",
      "allowAtRoot": false,
      "groupKey": "20edc159-591e-404e-8a9d-8ad586f8a0b9",
      "label": "paragraph",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "cf466244-d04a-4673-b173-a5a88acb8689",
      "allowAtRoot": false,
      "groupKey": "20edc159-591e-404e-8a9d-8ad586f8a0b9",
      "label": "button link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f381f04d-17cf-4d1b-9d09-fd9e44d2ed5e",
      "allowAtRoot": false,
      "groupKey": "20edc159-591e-404e-8a9d-8ad586f8a0b9",
      "label": "image element",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d7bbacc4-0878-4099-bd73-03a762b4314a",
      "allowAtRoot": false,
      "groupKey": "20edc159-591e-404e-8a9d-8ad586f8a0b9",
      "label": "rich text",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "bded70ef-edc2-4482-98cb-fad14dc535e1",
      "allowAtRoot": true,
      "groupKey": "2197c41b-cda8-4868-988b-9af8abf216ec",
      "label": "seaction",
      "areas": [
        {
          "key": "82c2d4c4-1f6b-4c28-a6a4-3c51f180f328",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ]
    },
    {
      "contentElementTypeKey": "cfdbdcf7-695d-436f-8322-01faf1f59a77",
      "allowAtRoot": false,
      "groupKey": "2197c41b-cda8-4868-988b-9af8abf216ec",
      "areas": [
        {
          "key": "702fd928-fde6-4d9e-a507-3fd6dadf5550",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        }
      ],
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "76b8c81e-b014-4798-8b0d-0e049b691689",
      "allowAtRoot": false,
      "groupKey": "2197c41b-cda8-4868-988b-9af8abf216ec",
      "allowInAreas": true,
      "areas": [
        {
          "key": "45ee1d86-b58a-4a08-8894-7933c01efe71",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "cb659028-6b3e-4491-abde-0ca5c2b320b1",
      "allowAtRoot": false,
      "groupKey": "20edc159-591e-404e-8a9d-8ad586f8a0b9",
      "allowInAreas": true,
      "areas": [
        {
          "key": "d3947237-58de-429e-a1e5-13f11030588e",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 4
        }
      ]
    },
    {
      "contentElementTypeKey": "069baf73-6095-4b56-a1b6-a8e5296b8698",
      "allowAtRoot": true,
      "groupKey": "fb6b6d9e-c590-472e-a712-0f9b98633f0c"
    },
    {
      "contentElementTypeKey": "99a88340-86ef-4d4d-832f-4533cbc81c44",
      "allowAtRoot": true,
      "groupKey": "fb6b6d9e-c590-472e-a712-0f9b98633f0c"
    },
    {
      "contentElementTypeKey": "8c2dc833-e618-4bb7-ae42-ffba2e5279ab",
      "allowAtRoot": false,
      "groupKey": "fb6b6d9e-c590-472e-a712-0f9b98633f0c",
      "label": "Image Slider",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "77b44b9e-b22d-4a7f-acb0-c585e3700802",
      "allowAtRoot": true,
      "groupKey": "2197c41b-cda8-4868-988b-9af8abf216ec",
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "areas": [
        {
          "key": "a2e3a09a-3344-4c35-bf8f-1f1ed301849b",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "00323798-f6ca-4a32-80f6-0fd6687d5abc",
      "allowAtRoot": false,
      "groupKey": "fb6b6d9e-c590-472e-a712-0f9b98633f0c",
      "label": "**Our Expert** ",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5beb5b59-e48f-415a-9db6-729447d56bf9",
      "allowAtRoot": false,
      "groupKey": "fb6b6d9e-c590-472e-a712-0f9b98633f0c",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "bab9dc96-505b-4cec-b95d-e73a8dd25803",
      "allowAtRoot": false,
      "groupKey": "fb6b6d9e-c590-472e-a712-0f9b98633f0c",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "58e572d8-4a12-4a2e-a69f-4f4f73e7cd06",
      "allowAtRoot": false,
      "groupKey": "fb6b6d9e-c590-472e-a712-0f9b98633f0c",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ]
    },
    {
      "contentElementTypeKey": "e201c914-d6a7-4c6a-aa37-03f8032941f2",
      "allowAtRoot": false,
      "groupKey": "fb6b6d9e-c590-472e-a712-0f9b98633f0c",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>