@mixin center {
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin left {
    display:flex;
    justify-content: left;
    align-items: left;
}

@mixin right {
    display:flex;
    justify-content: end;
    align-items: end;
}