
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;


:root {
    --color-primary-color: #4F5955;
    --color-secondary-color: #D9C3A9;
    --color-default-color: #4F5955;
    --color-hover-links-color: #D9C3A9;
    --color-links-color: #535656;
    --color-header-background-color: #4F5955;
    --color-footer-background-color: #0E0E0E;
    --color-white-color: #FFFFFF;
    --color-dark: #171717;
    --color-accent: #F2EDDC;
    --color-gray-color: #F7F7f7;
}