@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

 <footer class="bg-footer">
            <div class="container">
                <p class="copyright">Onatrix. All right Reserved.</p>
                <p class="credits">Credits to <a href="/credits"></a>Themesflat</p>
            </div>
</footer>